<mat-drawer-container class="drawer-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        
        @if (showFiller) {
            <p>componentes</p>
            <p>componentes</p>
            <p>componentes</p>
            <p>componentes</p>

        }
        <button (click)="showFiller = !showFiller" mat-raised-button>
            Menu principal
        </button>
    </mat-drawer>
    
    <div class="sidenav-content">
        <mat-toolbar color="primary" >
            <button
            (click)="drawer.toggle()"
            
                mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span class="ml-4">My App</span>
            <span class="example-spacer"></span>

        </mat-toolbar>
    </div>
        
    <div>
        <app-usuarios></app-usuarios>
    </div>
</mat-drawer-container>
